<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="True">
  <py:match path="jsglobals" once="true">
    <script type="text/javascript">
      if (typeof(fedora) == 'undefined') {
        fedora = {};
      }
      fedora.identity = {anonymous: true};
      /* Remove token and trailing slash */
      fedora.baseurl = "${tg.url('/')}".replace(/\/?(\?[^?]+)?$/, '');
    </script>
    <script type="text/javascript" py:if="not tg.identity.anonymous">
      //<![CDATA[
      // Note: unichr(34) is the double quote character.
      // unichr(38) is the ampersand
      // unichr(92) is backslash
      // Use this form to work around genshi strict checking for xml
      // well-formedness
      fedora.identity = {userid: "${tg.identity.user.id}",
        username: "${Markup(tg.identity.user.username.replace(u'\\',u'\\\\').replace(u'&', u'\\&').replace(u'"', u'\\"'))}",
        display_name: "${Markup(tg.identity.user.human_name.replace(u'\\', u'\\\\').replace(u'&', u'\\&').replace(u'"', u'\\"'))}",
        token: "${tg.identity.csrf_token}",
        anonymous: false
      };
    // ]]>
    </script>
  </py:match>
</html>
