include setup.py
include paver-minilib.zip
include *.spec
include COPYING AUTHORS ChangeLog NEWS
recursive-include doc *
include fedora/tg/templates/genshi/*.html
include fedora/tg2/templates/mako/*.mak
include fedora/tg2/templates/genshi/*.html
include po/*.pot
include po/*.po
include locale/*/*/*.mo
include pavement.py
